mixin bookTemplate()
  .book-template
    figure.book
      a(rel='noopener', target='_blank')
        img
      figcaption.hidden
        .title
        .author

mixin websiteList(websites)
  if websites
    section.websites
      ul.flat-list
        for link in websites
          li: a(href=link.url)= link.name
