section.searchbox
  form(action="/search.html")
    input(name="q",
      placeholder="Search terms...",
      type="search"
      results="3",
      autosave="byways-search",
      required)
    input(type="submit", value="Search")
