extends layout

block body
  include searchbox
  #search-results

block scripts
  script(src='/scripts/search.#{js}?v=#{package.version}', defer)

block templates
  template#search-result
    section.search-result
      header
        h1: a
      .search-result-body

